@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('../fonts/helveticaneue-thin.eot');
    src: url('../fonts/helveticaneue-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin.woff') format('woff'),
         url('../fonts/helveticaneue-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
         url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
         url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
         url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: 'HelveticaNeue-Light';
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
    color: #949494;
}
body #page, body .site{
    background: #ffffff;
}
body.ts-adminbar:before{
    top: 32px;
}
.boxedcontainer   { max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
  - SETTINGS FOR BANNER CONTAINERS  -
**********************************************/
@media (min-width:1500px){
  .logo  a img{
    width: auto;
  }
}
.tp-banner-container{
  width:100%;
  position:relative;
  padding:0;

}

.tp-banner{
  width:100%;
  position:relative;
}

.tp-banner-fullscreen-container {
    width:100%;
    position:relative;
    padding:0;
}
.main-header{
  position: relative;
}
.main-header .bgh-1,.main-header .bgh-2,.main-header .bgh-3{
  position: absolute;
}
.main-header .bgh-1{
  right:50px;
  top:50px;
}
.main-header .bgh-2{
  top:50%;
  left:50px;
}
.main-header .bgh-3{
  bottom: 50px;
  right:50px;
}
@media (max-width:1500px){
  .main-header .bgh-1{
    right:0px;
  }
  .main-header .bgh-2{
    left:0px;
  }
  .main-header .bgh-1 img,.main-header .bgh-2 img,.main-header .bgh-3 img{
    width:120px;
  }
  .main-header .bgh-3{
    right:0px;
  }
}

@media (min-width:601px)and(max-width: 782px){
    body.ts-adminbar:before{
        top: 46px;
    }
}
@media(max-width: 600px){
  body.ts-adminbar::before{top: 0;}
}
a{
    color: #da3127;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a:hover, a:focus{
    text-decoration: none;
    outline: none;
    color: inherit;
}
.title{
    font-family: 'HelveticaNeue-Thin';
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'HelveticaNeue-Thin';
    line-height: 1.3em;
    letter-spacing: 0;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 100;
}
h1,.h1{
    font-size: 60px;
}
h2,.h2{
    font-size: 45px;
}
h3,.h3{
    font-size: 38px;
}
h4,.h4{
    font-size: 30px;
}
h5,.h5{
    font-size: 19px;
}
h6,.h6{
    font-size: 15px;
}
.logo {
  margin: 0 0 0px;
  text-align: center;
}
.logo img{
  width: 200px;
}
.ts-service {
  margin-bottom: 80px;
}
.list-demo {
  padding: 90px 0 30px;
}
.item-demo {
  margin-bottom: 70px;
  text-align: center;
}
.item-demo h6 {
  margin-bottom: 0;
  margin-top: 30px;
  float: left;
  width: 100%;
}
.list-layout-shop {
  padding-bottom: 30px;
}
.ts-slide-features {
  background: rgba(0, 0, 0, 0) url("../images/bg-iphone.png") no-repeat scroll 0 0;
  margin: 0 auto 40px;
  max-width: 437px;
  padding: 105px 25px 110px;
}
.ts-slide-features .owl-stage-outer {
  max-height: 674px;
}
.owl-carousel .owl-dots .owl-dot {
  background-color: #000000;
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  margin: 0 5px;
  opacity: 0.2;
  width: 6px;
}
.owl-carousel .owl-dots .owl-dot.active {
  opacity: 1;
}
.ts-slide-features .owl-controls {
  bottom: -40px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.exper-mobile > figure {
  display: inline-block;
  margin: 55px auto 35px;
  text-align: center;
  width: 100%;
}
.exper-mobile h5 {
  text-align: center;
}
.exper-mobile {
  background: rgba(0, 0, 0, 0) url("../images/bg-landing.jpg") no-repeat scroll 0 0;
  padding: 90px 0;
}
.list-header {
  background: #ffffff none repeat scroll 0 0;
  padding: 100px 0 90px;
}
.ts-img-customer img {
  max-width: 100%;
}
.ts-img-customer {
  padding: 70px 70px 0 130px;
}
.layout-customer {
  background: rgba(0, 0, 0, 0) url("../images/img-13.jpg") repeat scroll 0 0;
  position: relative;
  -webkit-transition: all 0.3s ease 0s ;
     -moz-transition: all 0.3s ease 0s ;
      -ms-transition: all 0.3s ease 0s ;
       -o-transition: all 0.3s ease 0s ;
          transition: all 0.3s ease 0s ;
          z-index: 0;
}
.ts-service-landing {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.list-header .item-demo a:before{
  height: 0px;
  width: 0px;
}
.list-header .item-demo h6 a{
  border: none;
  font:400 20px/20px "Playfair Display";
}
.item-demo.transition-2 a{
   -webkit-transition: all 3.9s ease 0s ;
     -moz-transition: all 3.9s ease 0s ;
      -ms-transition: all 3.9s ease 0s ;
       -o-transition: all 3.9s ease 0s ;
          transition: all 3.9s ease 0s ;
}
.item-demo a{display: inline-block;background-repeat:no-repeat;background-position: center 20px;background-size: 399px auto;position: relative;width: 100%;float: left;
   -webkit-transition: all 1.9s ease 0s ;
     -moz-transition: all 1.9s ease 0s ;
      -ms-transition: all 1.9s ease 0s ;
       -o-transition: all 1.9s ease 0s ;
          transition: all 1.9s ease 0s ;
}
.item-demo a span{
  display: inline-block;
  float: left;
  width: 100%;
  height: 400px;
  background-size: 100% auto;
  -webkit-transition: all 1.9s ease 0s ;
     -moz-transition: all 1.9s ease 0s ;
      -ms-transition: all 1.9s ease 0s ;
       -o-transition: all 1.9s ease 0s ;
          transition: all 1.9s ease 0s ;
}
.title{
  text-align: center;
}
.center{
  text-align: center;
}
.title h3{
  font:400 60px/80px "Playfair Display";
  color:#000;
  text-transform: capitalize;
  margin-bottom:30px; 
  
}
.link-1{
  display: inline-block;
  color:#fff;
  font:700 16px/80px "Montserrat";
  text-transform: uppercase;
  width:300px;
  height: 80px;
  border-radius: 50px;
  background: #da3127;
  box-shadow: 0px 6px 21px 0px rgba(255, 33, 73, 0.5);
  text-align: center;
  margin: 50px 0px;
}
.link-1:hover{
  color:#fff;
  box-shadow: 0px 6px 21px 0px rgba(255, 0, 0, 0.61);
}
.footer{
  padding:160px 0px 20px;
}
.footer p{
  color: #1b1a1a;
  font:400 14px/20px"Playfair Display";
  margin-top:50px; 
}
.footer .title span{
  text-transform: capitalize;
}
.title h3 span{
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}
.title p{
  font:400 20px/30px "Playfair Display";
  color: #000;
  max-width: 830px;
  padding: 0 20px;
  margin: auto;
  margin-bottom:80px; 
}

.item-demo a i{
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom: 0px;
  margin: auto;
  font:700 12px/50px "Montserrat";
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  background: #da3127;
  height: 50px;
  width:160px;
  text-align: center;
  opacity: 0;
    -webkit-transition: all 0.3s ease 0s ;
     -moz-transition: all 0.3s ease 0s ;
      -ms-transition: all 0.3s ease 0s ;
       -o-transition: all 0.3s ease 0s ;
          transition: all 0.3s ease 0s ;
}

.item-demo a i:hover{
  box-shadow: 0 6px 21px 0 #da3127;
}
.item-demo a span:after{
  content: "";
  background: none;
  left:0px;
  position: absolute;
  right:0px;
  bottom: 0px;
  top: 0px;
}
.item-demo.h-230 a span{
  height: 240px;
}
.item-demo.center a span{
  background-position: center center;
  background-repeat:no-repeat; 
}
.item-demo.center a:hover span{background-position: center center;}
.item-demo a:hover span{background-position: center bottom;}
.item-demo a:hover i{opacity: 1;}
.item-demo a{box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);}
.item-demo h6 a{box-shadow: none;}
.item-demo a:hover span:after{background: rgba(0, 0, 0, 0.5);}
.item-demo a:hover{background-position: center bottom;}
.item-demo h6 a:hover{box-shadow: none;}
.item-demo a:before{
  position: absolute;
  content: "";
  bottom: 0px;
  background: #fff;
  left: 0px;
  right: 0px;
  height: 30px;
}
#header{
  position: relative;
}
#header .logo{
  position: absolute;
  left: 0px;
  display: inline-block;
  right: 0px;
  top:70px;
  margin: auto;
  z-index: 999;
}
.item-demo img{
  position: relative;
}
.item-demo h6 a:before{
  width: 0px;
  height: 0px;
}
.list-feature {
  padding: 90px 0;
  background-color: #fcf7f2;
    color: #fff;
  position: relative;
}
.list-feature h4 {
    color: #fff;
}
.list-feature .bg-list-1{
  position: absolute;
  top:-120px;
  left:0px;
}
.list-feature .bg-list-2{
  position: absolute;
  top:60%;
  right: 0px;
}
.ts-feature .icon {
  color: #000000;
  font-size: 40px;
}
.ts-feature.text-right .icon {
  float: right;
  margin-left: 20px;
}
.ts-feature.text-left .icon {
  margin-right: 20px;
    color: #da3127;
    font-size: 45px;
}
.ts-feature h5 {
  line-height: 40px;
  margin-bottom: 20px;
  margin-top:20px; 
  color: #1b1a1a;
  font:700 20px/20px "Playfair Display";
}
.ts-feature p.icon{
  min-height: 50px;
}
.ts-feature p {
    font:400 14px/20px "Roboto";
    color: #898989;
}
.padding-lr-30{
  padding-left: 30px;
  padding-right:30px;
}

.ts-feature {
  margin-bottom: 100px;
}
.north-first .ts-feature {
  margin-bottom: 90px;
}
.ts-feature:hover h5, .ts-feature:hover .icon {
  color: #da3127;
}
.ts-bottom {
  background: rgba(0, 0, 0, 0) url("../images/bg-landing-footer.jpg") no-repeat scroll 0 0;
  padding: 200px 0 150px;
  text-align: center;
  background-size: cover;
}
.ts-bottom .ts-n-button {
  margin: 40px 0;
}
.ts-purchase > h4 {
  font-family: 'HelveticaNeue';
  margin: 0;
}
.ts-button, .ts-n-button .vc_btn3 {
  background: #d6a279 none repeat scroll 0 0;
  color: #ffffff;
  font-family: "HelveticaNeue";
  font-size: 11px;
  letter-spacing: 5px;
  padding: 13px 25px;
  text-transform: uppercase;
}
.ts-button:hover {
  background: #d6a279 none repeat scroll 0 0;
  color: #ffffff;
}
.ts-n-button {
  display: inline-block;
  margin: 50px 0;
}
.ts-list-header > figure {
  margin-bottom: 50px;
}
.item-demo h6 a{
  color: #000;
}

.homepage-demo {
  width: 100%;
}

.item-demo:hover h6 a{
  color: #da3127;
}
.header {
  background: rgba(0, 0, 0, 0) url("../images/bg-header.jpg") no-repeat scroll 0 0 ;
  padding: 160px 0 80px;
  position: relative;
  text-align: center;
}
.header {
  background-attachment: fixed;
  background-size: cover;
}
.ts-title-custom {
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  position: relative;
  margin-top:40px; 
}
.ts-title-custom.ts-title-custom-dark {
  color: #ffffff;
}
.quick-install {
  padding-left: 70px;
}
.quick-install .ts-title-custom {
  padding-bottom: 0;
}
.ts-title-custom::before {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 96px;
}
.ts-title-custom-dark > span {
  border-bottom: 1px solid;
  font-family: Helvetica;
}
.ts-overlay {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.ts-header-inner {
  color: #ffffff;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.ts-title-custom > span {
  display: inline-block;
  font-family: "HelveticaNeue-Medium";
  font-size: 30px !important;
  line-height: 31px !important;
}
.ts-rev-desc, .ts-rev-desc p {
  font-size: 13px !important;
}
.ts-title-custom.text-center, .ts-title-custom.text-right {
  color: #000000;
}
.ts-n-button .vc_btn3:hover {
  background: #ffffff none repeat scroll 0 0;
  color: #000000;
}
ul.tp-revslider-mainul {
  padding: 0;
}
.rev_slider_wrapper {
  left: 0 !important;
  overflow: hidden !important;
  width: 100% !important;
}
img {
  max-width: 100%;
}
.rev_slider_wrapper img {
  max-width: 3000px;
}
.ts-bottom-top {
  background: #292929 none repeat scroll 0 0;
  color: #ffffff;
  padding: 100px 0 120px;
  text-align: center;
}
.ts-title-custom-light > span {
  border-bottom: 1px solid;
  font-family: Helvetica;
}
.ts-title-custom-light {
 color: #ffffff;
}
.ts-bottom-top .ts-rev-desc {
  margin: 0 auto 50px;
  max-width: 480px;
  color: #949494
}
.ts-plugins {
  display: inline-block;
  margin-top: 90px;
  text-align: center;
  width: 100%;
}
.ts-plugins ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.ts-plugins ul li {
  display: inline-block;
  margin: 0 35px;
}
.ts-header-inner .arrow-next{
  font-size: 30px;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-name:todown;
  animation-name:todown;
  display: inline-block;
  width: 100%;
  margin-top: 100px;
}
/* TO DOWN */
@-webkit-keyframes todown{
  0%{
    -webkit-transform:translateY(-15px);
    opacity:0;
  }
  10%{
    -webkit-transform:translateY(-15px);
    opacity:0;
  }
  50%{
    -webkit-transform:translateY(0);
    opacity:1;
  }
  90%{
    -webkit-transform:translateY(15px);
    opacity:0;
  }
  100%{
    -webkit-transform:translateY(15px);
    opacity:0;
  }
}
@keyframes todown{
  0%{
    transform:translateY(-15px);
    opacity:0;
  }
  10%{
    transform:translateY(-15px);
    opacity:0;
  }
  50%{
    transform:translateY(0);
    opacity:1;
  }
  90%{
    transform:translateY(15px);
    opacity:0;
  }
  100%{
    transform:translateY(15px);
    opacity:0;
  }
}
@media (max-width:1500px) and (min-width:1200px) {
  .item-demo a{
    background-size:320px auto;
  }
}
@media (max-width:1200px){
  .main-header .bgh-1,.main-header .bgh-2,.main-header .bgh-3{
    display: none;
  }
  #header .logo{
    top:30px;
  }
  .logo img{
    width:100px;
  }
  .bg-list-1 img{
    width:150px;
  }
  .bg-list-2 img{
    width:100px;
  }
  .list-feature .bg-list-1{
    top:-50px;
  }
  .title h3{
    font:400 40px/60px "Playfair Display";
  }
  .homepage-demo .item-demo:nth-child(3) a span{
    height: 230px;
  }
}
@media (max-width:1024px) and (min-width:767px) {
  .item-demo a{
    background-size:360px auto;
  }
  .col-sm-4{
    width: 50%;
  }
  .col-sm-2.item-demo{
    width: 20%;
  }
    .quick-install .ts-title-custom{
    margin: 0px;
    font-size: 18px;
  }
  .item-demo h6{
    min-height: 40px;
  }
}
@media (max-width:767px)  {
  div.ts-feature.text-left,div.ts-feature.text-right {
    padding:0px;
  }
  .item-demo h6{
    margin-top:15px;
    margin-bottom:30px;  
  }
  .quick-install{
    padding-left: 15px;
    text-align: left;
  }
  div.ts-service-landing {
    position: relative;
    top: 0;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
    .quick-install .ts-title-custom{
    margin: 0px;
    font-size: 18px;
  }
  .ts-img-customer {
    margin: 0 0 0px;
    padding: 0;
  }
  .ts-slide-features {
    background-size: 100%;
  }
  .ts-service-landing{
    margin-top:30px; 
  }
  div.ts-slide-features {
    max-width: 200px;
    padding: 47px 12px 72px;
  }
  div.ts-slide-features .owl-stage-outer {
    max-height: 310px;
  }
  .ts-shortcode {
    padding-bottom: 60px;
  }
  .ts-rev-desc, .ts-rev-desc p {
    display: none;
  }
}
@media(max-width: 480px){
  .header {
    padding: 20px 0px 30px;
}
.ts-header-inner .arrow-next {
    
    margin-top: 10px;
}
#header .logo{
  top:10px;
}
.logo img{
width: 80px;
}
.ts-rev-desc{
  display: block;padding: 0 5px;
}
.ts-n-button {
    display: inline-block;
    margin: 20px 0px;
}
.item-demo a{
  background-size:calc(100% - 80px) auto;
}
.title h3{
  font:400 25px/30px "Playfair Display";
}
.title p{
  font:400 14px/22px "Playfair Display";
  margin-bottom:30px; 
}
.item-demo h6{
  margin-bottom:40px; 
}
.list-header{
  padding: 70px 0px 0px;
}
}
@media(max-width: 340px){
  .item-demo a{
    background-size:calc(100% - 60px) auto;
  }
}
.shadow img {
  box-shadow: 0 0 15px #D0D0D0;
}
@media (max-width: 1500px) and (min-width: 1200px){
  .orther_page .item-demo .over-olay-popup{
    background-size: 320px auto;
  }
}
.orther_page .item-demo .over-olay-popup{
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 399px auto;
  position: relative;
  width: 100%;
  float: left;
  -webkit-transition: all 1.9s ease 0s;
  -moz-transition: all 1.9s ease 0s;
  -ms-transition: all 1.9s ease 0s;
  -o-transition: all 1.9s ease 0s;
  transition: all 1.9s ease 0s;
}
.item-demo .over-olay-popup:hover span.background_image_demo{
  background-position: center bottom;
}
.orther_page .item-demo .over-olay-popup span.background_image_demo{
    display: inline-block;
    float: left;
    width: 100%;
    height: 230px;
    background-size: 100% auto;
    -webkit-transition: all 1.9s ease 0s;
    -moz-transition: all 1.9s ease 0s;
    -ms-transition: all 1.9s ease 0s;
    -o-transition: all 1.9s ease 0s;
    transition: all 1.9s ease 0s;
}
.orther_page .item-demo .over-olay-popup:hover{
  background-position: center bottom;
}
.orther_page .item-demo .over-olay-popup:hover span.background_image_demo:after {
  content: "";
  background: none;
  left: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}
.list-header .item-demo h6{
  border: none;
  font: 400 20px/20px "Playfair Display";
}
.item-demo button.show-popup{
  position: absolute;
  background: #da3127;
  left:0px;
  top:0px;
  right:0px;
  bottom: 0px;
  margin: auto;
  font:700 12px/50px "Montserrat";
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  height: 50px;
  width:160px;
  text-align: center;
  opacity: 0;
  border: 0px;
  outline: aliceblue;
  outline : 0px !important;
  padding: 0px !important;
    -webkit-transition: all 0.3s ease 0s ;
     -moz-transition: all 0.3s ease 0s ;
      -ms-transition: all 0.3s ease 0s ;
       -o-transition: all 0.3s ease 0s ;
          transition: all 0.3s ease 0s ;
}
.item-demo:hover button.show-popup{opacity: 1;}
.content-popup .close{
  background: #000;
  padding: 5px 10px 10px 10px;
}
.content-popup .close span{
  color: #fff;
}
.item-demo button.show-popup i{
  font-style: normal;
}
.item-demo:hover button.show-popup{opacity: 1;}
.content-popup .close{
  opacity: 1;
  background: #000;
}
.content-popup .close span{
  color: #fff;
}
@media (min-width: 480px){
  .content-popup .close{
  background: #fff;
  padding: 3px 10px 8px 10px;
  border: 50%;
  position: absolute;
  right: 30px;
  top: -16px;
  opacity: 1;
  border-radius: 50%;
  z-index: 999;
  }
  .content-popup .close span{
  color: #000;
  }
}


.modal-open .modal.in{
  background: rgba(0, 0, 0, 0.8);
}
.modal-dialog .content-popup img{
  box-shadow: 0px 0px 0px 0px;
}
@media(min-width:1200px){
.homepage-demo .row.first .item-demo:nth-child(3){
  align-items:flex-end;margin-top:auto;
}

.homepage-demo .row.first .item-demo:nth-child(3) a:hover span{
      background-position: unset;
}

.homepage-demo .row.last .item-demo:nth-child(2){
  align-items:flex-end;margin-top:auto;
}

.homepage-demo .row.last .item-demo:nth-child(2) a:hover span{
      background-position: unset;
}
.row.first, .row.last{display:flex; }
}
.homepage-demo .row.first .item-demo:nth-child(3).item-demo span{
  height: 200px;
}
.homepage-demo .row.last .item-demo:nth-child(2).item-demo span{
  height: 200px;
}