/*/
 *
 * Bubbly - made for Hey Oliver
 * This file is used to stylise the iframe that houses the system.
 *
 * Development Start Date: Sep 26 2018
 * Development End Date: Oct 08 2018
 *
/*/

#ap-bubbly-frame {
	/* Dimensions */
    width: 100px;
	height: 100px;
	
	/* Positioning */
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999999;
	
	/* Styling */
	background: none;
	border: none;
}


#ap-bubbly-frame[data-miniexpanded = "true"] {
    /* Dimensions */
	width: 420px!important;
    height: 320px!important;
}

#ap-bubbly-frame[data-expanded = "true"] {
    /* Dimensions */
	width: 420px!important;
	height: 832px!important;
}

#ap-bubbly-frame[data-hyperexpanded = "true"] {
    /* Dimensions */
    width: 420px!important;
	height: 896px!important;
}

#ap-bubbly-frame.fullscreen {
    width: 100%!important;
    height: 100%!important;
}

@media screen and (max-width: 450px) {
    #ap-bubbly-frame[data-expanded = "true"] {
        /* Dimensions */
        width: 100% !important;
        height: 100% !important;
        
        /* Positioning */
        top: 0;
        left: 0;
    }
}

@media screen and (max-height: 830px) {
    #ap-bubbly-frame[data-expanded = "true"] {
        /* Dimensions */
        height: 100% !important;
        
        /* Positioning */
        top: 0;
    }
}
