body {
    background-image: url(/картинки/38.jpg);
    background-repeat: space;
}
textarea#description{
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
