/*==================*/
/*navbar menu*/
/*==================*/
.navbar {
    border-bottom: 1px solid dodgerblue;
}
/*==================*/
/*category menu*/
/*==================*/
section#category-view{
   position: fixed;
    top: 56px;
    z-index: 99;
    transition-timing-function: cubic-bezier(0, 0, .58, 1);
    -webkit-transition: all 0.8s cubic-bezier(0, 0, .58, 1);
    transition: all 0.8s cubic-bezier(0, 0, .58, 1);
}
.category-title{
    font-size: 12px;
}
.category-text{
    font-size: 12px;
}
/*==================*/
/*filter*/
/*==================*/
#ul-filter{
}
.category-elem{
}
.tovar-elem{
}

#btn-subcategory, #btn-tovar{
    display: none;
    visibility: hidden;
}
/*==================*/
/*cards*/
/*==================*/
/*Animation*/
.card{
    transition: transform .2s; /* Animation */
}
.card:hover{
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-img-top {
    transition: transform .2s; /* Animation */

}
@media (min-width: 720px) and (max-width: 959px) {
    .card-img-top {
        height: 40% !important;
    }
}
@media (min-width: 960px) and (max-width: 1439px) {
    .card-img-top {
        height: 50% !important;
    }
}
@media (min-width: 1440px) and (max-width: 1750px) {
    .card-img-top {
        height: 80% !important;
    }
}
@media (min-width: 1751px){
    .card-img-top {
        height: 100% !important;
    }
}
.card-img-top:hover {
    cursor: pointer;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-text {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height:150px;
    word-spacing: 8px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.btn_change{
    display: none;
    visibility: hidden;
}
/*===============*/
/*carousel*/
/*===============*/
#carousel {
    border-bottom: 2px solid dodgerblue;
}
