@font-face {
    font-family: Arial, sans-serif, "Times New Roman", sans-serif;
}
body{
    background: -webkit-linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%) no-repeat center center fixed;
    background: -moz-linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%);
    background: linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%) no-repeat center center fixed;
    background-repeat: space;
    font-family: Arial,"Times New Roman",Times, sans-serif;
}
.show-category {
    cursor: pointer;
}
.category-card{
    cursor: pointer;
}
.category-card-img:hover{
    cursor: pointer;
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media (min-width: 450px) and (max-width: 959px) {
    .col-img {
        width: 80px !important;
        height: 70px !important;
    }
    .category-card-img{
        width: 70px !important;
        height: 60px !important;
    }
}
@media (min-width: 960px) and (max-width: 1439px) {
    .col-img {
        width: 100px !important;
        height: 80px !important;
    }
    .category-card-img{
        width: 90px !important;
        height: 70px !important;
    }
}
@media (min-width: 1440px) {
    .col-img {
        width: 150px !important;
        height: 120px !important;
    }
    .category-card-img{
        width: 140px !important;
        height: 110px !important;
    }
}