.body-ordering{
    background: -webkit-linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%) no-repeat center center fixed;
    background: -moz-linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%);
    background: linear-gradient(0deg, rgb(92, 126, 106) 2%, rgb(195, 230, 203) 98%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media print {
    .noprint {display: none;}
    body {background:#FFF; color:#000;}
    a {text-decoration: underline; color:#00F;}
}
.order-head:hover{
    color: white!important;
    background-color: black!important;
}
.btn-delete{
    border: 15px black solid;
}
.description{
    font-size: 12px;
    font-weight: bold;
}
.order{
    width: 200px;
    height: 120px;
}
.order-img{
    width: 520px;
    height: 120px;
}