@charset "UTF-8";
.search-form {
  float: right;
  display: block;
  position: relative;
  width: 305px;
  margin-top: -11px;
  margin-right: 42px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
@media (max-width: 979px) {
  .search-form {
    margin-top: 0;
    margin-right: 0;
  }
}
.search-form ::-webkit-input-placeholder {
  color: #fff;
}
.search-form ::-moz-placeholder {
  color: #fff;
}
.search-form :-moz-placeholder {
  color: #fff;
}
.search-form :-ms-input-placeholder {
  color: #fff;
}
.search-form_label {
  display: block;
  padding: 12px 40px 12px 10px;
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
}
.search-form_submit {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 25px;
  height: 22px;
  color: #fff;
  font: 400 18px/22px 'FontAwesome', sans-serif;
}
.search-form_submit:before {
  content: "";
}
.search-form_submit:hover {
  color: #303030;
}
@media (max-width: 479px) {
  .search-form {
    width: 270px;
  }
}

.search-form_toggle {
  float: right;
  display: inline-block;
  color: #242424;
  font: 400 44px/44px "FontAwesome";
}
.search-form_toggle:before {
  content: "";
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #00a66c;
}
.search-form_toggle.active:before {
  content: "";
}

.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.lt-ie9 .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  font-size: 14px;
  line-height: 24px;
  background: #FFF;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #FFF;
  color: #999;
}
.search-form_liveout .search_link .search_title {
  color: #00a66c;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #00a66c;
  color: #73ffce;
}
.search-form_liveout .search_link:hover .search_title {
  color: #FFF;
}
.search-form_liveout .search_error {
  display: block;
  color: #00a66c;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  display: block;
  width: 100%;
  color: #00a66c;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button:hover {
  background: #00a66c;
  color: #FFF;
}
input:focus + .search-form_liveout {
  opacity: 1;
}
.lt-ie9 input:focus + .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet, .mobile .search-form_liveout {
  display: none !important;
}

.search-frame, .search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame, .search-frame body, .search-frame h1, .search-frame h2, .search-frame h3, .search-frame h4, .search-frame h5, .search-frame h6, .search-frame p, .search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 a:hover {
  color: #00a66c;
}
.search-frame .search_list {
  border: 0;
  vertical-align: top;
  counter-reset: li;
  list-style-type: none;
  margin: 0px;
}
.search-frame .search_list li {
  position: relative;
  background: none;
  padding: 24px 34px 22px;
  box-sizing: border-box;
}
.search-frame .search_list li:before {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 36px;
  height: 36px;
  content: counter(li,decimal) ".";
  counter-increment: li;
  font: 700 18px/24px "Open Sans", sans-serif;
  color: #00a66c;
  text-align: center;
}
.search-frame .search_list + li {
  margin-top: 20px;
}
.search-frame .search {
  color: #777777;
}
.search-frame .match {
  color: #7c4260;
  font-size: 11px;
  display: block;
}
.search-frame * + p {
  margin-top: 6px;
}
